.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.login {
    background-color: #eaeaec;
    border-radius: 15px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #17142E;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    padding: 30px;
}

.login-area svg {
    margin-right: 10px;
}

.login-area p {
    color: #f0f0f0;
    font-size: 25px;
    padding-top: 6px;
}

form {
    margin-top: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 0.5em;
    color: #17142E;
}

.login input {
    margin-bottom: 15px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
}

form button {
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: #17142E;
    color: #fff;
    font-size: 1.3em;
}

form button:hover {
    background-color: #0d0a1a;
}

.login a {
    margin: 1.5em 0;
    color: #17142E;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.login a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .container-center {
        background-color: #eaeaec;
    }

    .login-area {
        border-radius: 0;
        background-color: #eaeaec;
    }

    .login-area p {
        color: #171717;
    }

    .login-area svg {
        fill: #171717;
    }
}
